<div class="row h-100">
    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 align-self-center">
        <div class="card my-auto">
            <div class="card-body">
                <form #form="ngForm" action="" method="post" novalidate autocomplete="off"
                      (ngSubmit)="form.form.valid && login()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" name="usenrame" class="form-control" required="required" placeholder="Username" [(ngModel)]="credentials.username"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" required="required" placeholder="Password" [(ngModel)]="credentials.password"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-danger float-right login_btn" [disabled]="form.form.invalid">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
